$fallback-color: #14081e;

body {
  background: $fallback-color;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;

  background: $fallback-color;
  background:
    radial-gradient(circle at 70vw 25vh, rgba(10, 4, 52, 0.5) 0, transparent 90vw),
    radial-gradient(circle at 80vw 70vh, #071105 0, transparent 90vw),
    radial-gradient(circle at 10vw 0, #210d30 0, transparent 90vw);
}

.fullscreen-button {
  $color: #d19c13;
  $size: 32px;

  position: absolute;
  border: none;
  background: none;
  color: $color;
  width: $size;
  height: $size;
  right: 18px;
  bottom: 18px;
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid $color;
  }

  &::before {
    content: '\2922';
    text-align: center;
    position: absolute;
    font-size: $size;
    line-height: $size;
    width: 100%;
    height: 100%;
    top: -5%;
    left: 0;
  }
}
